################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Cli/bin/Debug/net6.0
/Cli/obj
/QueueCaster/bin/Debug/net6.0
/QueueCaster/obj
