<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<application android:label="My HomeAudio" android:icon="@drawable/Icon"
				 android:usesCleartextTraffic="true" />		<!--  This is needed as long as we use http: to our LMS!!!!!! -->
</manifest>